@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    overflow-x: hidden;
}

/* Menu Toggle */
.menuicon {
    display: inline;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    filter: invert(1);
    cursor: pointer;
    z-index: 1000;
}

header {
    animation: left-in 0.5s ease-in forwards;
        animation-delay: 0;
        opacity: 0;
}

header nav {
    display: block;
    position: fixed;
    left: -200px;
    transition: .5s;
}

header nav.active {
    position: relative;
    width: 100%;
    left: 0;
    transition: .5s;

}

.logo {
    font-style: bold;
    position: relative;
    left: 10px;
    bottom: 10px;
    
}

.logo img {
    width: 50px;
    height: 50px;
    border: 2px solid #3E79FA;
    border-radius: 50%;
}

header nav ul {
    list-style: none;
}
header nav ul li {
    border-bottom: 1px solid #000;
}
header nav ul li a, .logo {
    display: block;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #333945;
    margin-top: 5px;
    margin-left: 3px;
}

/* Main */
.main h1 {
    font-size: 50px;
    margin: 10px;
    padding: 20px;
    font-family: sans-serif;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}

.main img {
    display: none;
}

/* Contact Button */

.contactBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 3% 0% 10% 10%;
    height: 15%;
    width: 50%;
    padding: 10px;
    background: #e55b27;
    color: #fff;
    border: 2px solid #e55b27;
    font-size: 30px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}

.contactBtn:hover {
    color: #e55b27;
    background-color: #fff;
    text-decoration: none;
    transition: .5s;
}

.contactBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    width: 100%;
    height: 0%; 
    transition: .5s;
}

.contactBtn:hover::before {
    height: 100%;
    
}

/* Skills */
.skills {
    background-color: #333945;
}

#skills {
    font-family: 'Sirin Stencil', cursive;
    margin: 0 0 5% 5%;
    font-size: 150px;
    color: #fff;
    opacity: 0.6;
}

.card-title {
    color: #e55b27;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s;
}

/* Projects */
#projects {
    font-family: 'Sirin Stencil', cursive;
    margin: 0 0 5% 5%;
    font-size: 130px;
}

.card-project {
    background-color: #333945;
}

/* Contact */
    
.contact {
    background-color: #333945;
}

#contact {
        font-family: 'Sirin Stencil', cursive;
        margin: 0 0 5% 5%;
        font-size: 120px;
        color: #fff;
        opacity: 0.6;
}

.fa {
    text-decoration: none;
    font-size: 20px;
}

/* Media Queries */
@media (min-width: 700px) {
    .container-fluid {
        height: 100vh;
    }
    
    header {
        display: block;
        animation: left-in 0.5s ease-in forwards;
        animation-delay: 0;
        opacity: 0;
    }
    
    header nav {
        position: relative;
        left: 0;
    }

    .logo {
        position: static;
    }

    header nav ul {
        list-style: none;
    } 
    
    header nav ul li, .logo {
        display: inline;
        float: left;
        border: none;
    }
    
    header nav ul li a, .logo {
        display: block;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
        color: #333945;
        margin-top: 5px;
        margin-left: 3px;
    }
    
    header nav ul li a.active {
        color: #3E79FA;
    }
    
    .menuicon {
        display: none;
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .main h1 {
        font-size: 65px;
        margin: 10px;
        padding: 20px;
        font-family: sans-serif;
        animation: left-in 0.5s ease-in forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    
    .main img{
        display: inline;
        animation: fade-in 0.5s ease-in forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }
    
    .contactBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 3% 0% 0% 10%;
        height: 15%;
        width: 25%;
        padding: 10px;
        background: #e55b27;
        color: #fff;
        border: 2px solid #e55b27;
        font-size: 40px;
        animation: left-in 0.5s ease-in forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    
    .contactBtn:hover {
        color: #e55b27;
        background-color: #fff;
        text-decoration: none;
        transition: .5s;
    }
    
    .contactBtn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #fff;
        width: 100%;
        height: 0%; 
        transition: .5s;
    }
    
    .contactBtn:hover::before {
        height: 100%;
        
    }
    
    /* Skills */
    
    .skills {
        background-color: #333945;
    }
    
    #skills {
        font-family: 'Sirin Stencil', cursive;
        margin: 0 0 5% 5%;
        font-size: 150px;
        color: #fff;
        opacity: 0.6;
    }
    
    .card-title {
        color: #e55b27;
    }
    
    .card:hover {
        cursor: pointer;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    /* Projects */
    
    #projects {
        font-family: 'Sirin Stencil', cursive;
        margin: 0 0 5% 5%;
        font-size: 130px;
    }
    
    .card-project {
        background-color: #333945;
    }
    /* Contact */
    
    .contact {
        background-color: #333945;
    }
    
    #contact {
            font-family: 'Sirin Stencil', cursive;
            margin: 0 0 5% 5%;
            font-size: 150px;
            color: #fff;
            opacity: 0.6;
    }
    
    .fa {
        text-decoration: none;
        font-size: 30px;
    }
}

/* Animations */

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes left-in {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}