input[type=number] {
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
  }
  
  input[type=number]:focus{
    border: 2px solid darkblue;  
  }
  
  .footer {
      padding: 10px;
      margin: 10px;
      background-color: black;
      color: white;
      text-align: center;
      border-radius: 10px;
  }
  
  a {
      text-decoration: none;
  }